title {
	margin: auto;
	width: 50%;
	color: red;
}

h1 {
	margin-left: 100px;
}

.tlu-pilt {
	border-radius: 20%;
	padding:0 50px 50px 25%;
}

button {
	background-color: black;
	font-size: 16px;
	color: white;
	border-radius: 15px;
	font-weight: bold;
	border-color: white;
	margin-left: 20px;
}